# Data Preprocessing

The data has a few issues we need to resolve before using it:

1. Some rows have "overhang", meaning one or two elements that don't fit within the given 89 columns
   - This is a result of the player positions being lists that have expanded into multiple columns
   - In some cases, rows have 90 or 91 cells depending on how many positions the player has played
3. String elements (column names and cell entries) contain additional single quotes as well as whitespace
4. Some columns such as Height/Weight contain empty cells
5. The "Best Position" column may also differ from "Positions Played", meaning this also needs to be taken into account when formatting the player positions
   - This means any given player can between 1 and 4 different "Positions Played"

First, we format the column names:

In [1]:
import csv

file_path = 'data/Aufgabe-1.csv'

# Retrieve the header names
with open(file_path, encoding='utf-8-sig') as f:
    csv_reader = csv.reader(f)
    csv_headings = next(csv_reader)

# Prevent double quotes and remove extra whitespace
columns = [ch.replace("'", "").strip() for ch in csv_headings]

# We define three additional columns as a result of the issues described above
extra_columns = ['Positions Played (2)', 'Positions Played (3)', 'Positions Played (4)']
columns

['Known As',
 'Full Name',
 'Overall',
 'Potential',
 'Value(in Euro)',
 'Positions Played',
 'Best Position',
 'Nationality',
 'Image Link',
 'Age',
 'Height(in cm)',
 'Weight(in kg)',
 'TotalStats',
 'BaseStats',
 'Club Name',
 'Wage(in Euro)',
 'Release Clause',
 'Club Position',
 'Contract Until',
 'Club Jersey Number',
 'Joined On',
 'On Loan',
 'Preferred Foot',
 'Weak Foot Rating',
 'Skill Moves',
 'International Reputation',
 'National Team Name',
 'National Team Image Link',
 'National Team Position',
 'National Team Jersey Number',
 'Attacking Work Rate',
 'Defensive Work Rate',
 'Pace Total',
 'Shooting Total',
 'Passing Total',
 'Dribbling Total',
 'Defending Total',
 'Physicality Total',
 'Crossing',
 'Finishing',
 'Heading Accuracy',
 'Short Passing',
 'Volleys',
 'Dribbling',
 'Curve',
 'Freekick Accuracy',
 'LongPassing',
 'BallControl',
 'Acceleration',
 'Sprint Speed',
 'Agility',
 'Reactions',
 'Balance',
 'Shot Power',
 'Jumping',
 'Stamina',
 'Strength',
 'Long Shots',
 'Aggression',
 'Interceptions',
 'Positioning',
 'Vision',
 'Penalties',
 'Composure',
 'Marking',
 'Standing Tackle',
 'Sliding Tackle',
 'Goalkeeper Diving',
 'Goalkeeper Handling',
 'GoalkeeperKicking',
 'Goalkeeper Positioning',
 'Goalkeeper Reflexes',
 'ST Rating',
 'LW Rating',
 'LF Rating',
 'CF Rating',
 'RF Rating',
 'RW Rating',
 'CAM Rating',
 'LM Rating',
 'CM Rating',
 'RM Rating',
 'LWB Rating',
 'CDM Rating',
 'RWB Rating',
 'LB Rating',
 'CB Rating',
 'RB Rating',
 'GK Rating']

Now, we can read the csv using the formatted column names and additional columns and take a look at the data:

In [2]:
import pandas as pd

df = pd.read_csv(file_path, header=None, skiprows=1, names=columns+extra_columns)
df.shape

/tmp/ipykernel_20167/2016691438.py:3: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, header=None, skiprows=1, names=columns+extra_columns)

(18539, 92)

In [3]:
df.head()

,Known As,Full Name,Overall,Potential,Value(in Euro),Positions Played,Best Position,Nationality,Image Link,Age,...,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating,Positions Played (2),Positions Played (3),Positions Played (4)
0,'L. Messi','Lionel Messi',91,91,54000000,'RW','CAM','Argentina','https://cdn.sofifa.net/players/158/023/23_60....,35,...,67,66,67,62,53,62,22,NaN,NaN,NaN
1,'K. Benzema','Karim Benzema',91,91,64000000,'CF,ST','CF','France','https://cdn.sofifa.net/players/165/153/23_60....,...,89,67,67,67,63,58,63,21.0,NaN,NaN
2,'R. Lewandowski','Robert Lewandowski',91,91,84000000,'ST','ST','Poland','https://cdn.sofifa.net/players/188/545/23_60....,33,...,67,69,67,64,63,64,22,NaN,NaN,NaN
3,'K. De Bruyne','Kevin De Bruyne',91,91,107500000,'CM,CAM','CM','Belgium','https://cdn.sofifa.net/players/192/985/23_60....,...,91,82,82,82,78,72,78,24.0,NaN,NaN
4,'K. Mbappé','Kylian Mbappé',91,95,190500000,'ST,LW','ST','France','https://cdn.sofifa.net/players/231/747/23_60....,...,92,70,66,70,66,57,66,21.0,NaN,NaN

Since the cell contents also contain single quotes which can be annoying for string comparisons, we remove those:

In [4]:
df = df.applymap(lambda x: x.replace("'", "") if isinstance(x, str) else x)
df.head()

,Known As,Full Name,Overall,Potential,Value(in Euro),Positions Played,Best Position,Nationality,Image Link,Age,...,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating,Positions Played (2),Positions Played (3),Positions Played (4)
0,L. Messi,Lionel Messi,91,91,54000000,RW,CAM,Argentina,https://cdn.sofifa.net/players/158/023/23_60.png,35,...,67,66,67,62,53,62,22,NaN,NaN,NaN
1,K. Benzema,Karim Benzema,91,91,64000000,CF,ST,CF,France,https://cdn.sofifa.net/players/165/153/23_60.png,...,89,67,67,67,63,58,63,21.0,NaN,NaN
2,R. Lewandowski,Robert Lewandowski,91,91,84000000,ST,ST,Poland,https://cdn.sofifa.net/players/188/545/23_60.png,33,...,67,69,67,64,63,64,22,NaN,NaN,NaN
3,K. De Bruyne,Kevin De Bruyne,91,91,107500000,CM,CAM,CM,Belgium,https://cdn.sofifa.net/players/192/985/23_60.png,...,91,82,82,82,78,72,78,24.0,NaN,NaN
4,K. Mbappé,Kylian Mbappé,91,95,190500000,ST,LW,ST,France,https://cdn.sofifa.net/players/231/747/23_60.png,...,92,70,66,70,66,57,66,21.0,NaN,NaN

Now we handle the overhanging caused by the Positions Played.

Note that we only check last three cols since NaN values also appear elsewhere within the data.

For this approach, we decided to handle the three possible cases separately:

In [5]:
no_overhang = df[df.iloc[:, -3:].isnull().sum(axis=1) == 3] 
one_overhang = df[df.iloc[:, -3:].isnull().sum(axis=1) == 2]
two_overhang = df[df.iloc[:, -3:].isnull().sum(axis=1) <= 1]

no_overhang.head()

,Known As,Full Name,Overall,Potential,Value(in Euro),Positions Played,Best Position,Nationality,Image Link,Age,...,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating,Positions Played (2),Positions Played (3),Positions Played (4)
0,L. Messi,Lionel Messi,91,91,54000000,RW,CAM,Argentina,https://cdn.sofifa.net/players/158/023/23_60.png,35,...,67,66,67,62,53,62,22,NaN,NaN,NaN
2,R. Lewandowski,Robert Lewandowski,91,91,84000000,ST,ST,Poland,https://cdn.sofifa.net/players/188/545/23_60.png,33,...,67,69,67,64,63,64,22,NaN,NaN,NaN
5,M. Salah,Mohamed Salah,90,90,115500000,RW,RW,Egypt,https://cdn.sofifa.net/players/209/331/23_60.png,30,...,74,71,74,70,61,70,25,NaN,NaN,NaN
6,T. Courtois,Thibaut Courtois,90,91,90000000,GK,GK,Belgium,https://cdn.sofifa.net/players/192/119/23_60.png,30,...,32,34,32,32,32,32,90,NaN,NaN,NaN
7,M. Neuer,Manuel Neuer,90,90,13500000,GK,GK,Germany,https://cdn.sofifa.net/players/167/495/23_60.png,36,...,39,46,39,38,37,38,90,NaN,NaN,NaN

In [6]:
cols = no_overhang.columns.tolist()
cols

['Known As',
 'Full Name',
 'Overall',
 'Potential',
 'Value(in Euro)',
 'Positions Played',
 'Best Position',
 'Nationality',
 'Image Link',
 'Age',
 'Height(in cm)',
 'Weight(in kg)',
 'TotalStats',
 'BaseStats',
 'Club Name',
 'Wage(in Euro)',
 'Release Clause',
 'Club Position',
 'Contract Until',
 'Club Jersey Number',
 'Joined On',
 'On Loan',
 'Preferred Foot',
 'Weak Foot Rating',
 'Skill Moves',
 'International Reputation',
 'National Team Name',
 'National Team Image Link',
 'National Team Position',
 'National Team Jersey Number',
 'Attacking Work Rate',
 'Defensive Work Rate',
 'Pace Total',
 'Shooting Total',
 'Passing Total',
 'Dribbling Total',
 'Defending Total',
 'Physicality Total',
 'Crossing',
 'Finishing',
 'Heading Accuracy',
 'Short Passing',
 'Volleys',
 'Dribbling',
 'Curve',
 'Freekick Accuracy',
 'LongPassing',
 'BallControl',
 'Acceleration',
 'Sprint Speed',
 'Agility',
 'Reactions',
 'Balance',
 'Shot Power',
 'Jumping',
 'Stamina',
 'Strength',
 'Long Shots',
 'Aggression',
 'Interceptions',
 'Positioning',
 'Vision',
 'Penalties',
 'Composure',
 'Marking',
 'Standing Tackle',
 'Sliding Tackle',
 'Goalkeeper Diving',
 'Goalkeeper Handling',
 'GoalkeeperKicking',
 'Goalkeeper Positioning',
 'Goalkeeper Reflexes',
 'ST Rating',
 'LW Rating',
 'LF Rating',
 'CF Rating',
 'RF Rating',
 'RW Rating',
 'CAM Rating',
 'LM Rating',
 'CM Rating',
 'RM Rating',
 'LWB Rating',
 'CDM Rating',
 'RWB Rating',
 'LB Rating',
 'CB Rating',
 'RB Rating',
 'GK Rating',
 'Positions Played (2)',
 'Positions Played (3)',
 'Positions Played (4)']

We reorganize the list of columns by placing the added columns behind the original "Positions Played" column

In [7]:
cols = cols[:cols.index('Positions Played')+1] + cols[-3:] + cols[cols.index('Positions Played') + 1:-3]
cols

['Known As',
 'Full Name',
 'Overall',
 'Potential',
 'Value(in Euro)',
 'Positions Played',
 'Positions Played (2)',
 'Positions Played (3)',
 'Positions Played (4)',
 'Best Position',
 'Nationality',
 'Image Link',
 'Age',
 'Height(in cm)',
 'Weight(in kg)',
 'TotalStats',
 'BaseStats',
 'Club Name',
 'Wage(in Euro)',
 'Release Clause',
 'Club Position',
 'Contract Until',
 'Club Jersey Number',
 'Joined On',
 'On Loan',
 'Preferred Foot',
 'Weak Foot Rating',
 'Skill Moves',
 'International Reputation',
 'National Team Name',
 'National Team Image Link',
 'National Team Position',
 'National Team Jersey Number',
 'Attacking Work Rate',
 'Defensive Work Rate',
 'Pace Total',
 'Shooting Total',
 'Passing Total',
 'Dribbling Total',
 'Defending Total',
 'Physicality Total',
 'Crossing',
 'Finishing',
 'Heading Accuracy',
 'Short Passing',
 'Volleys',
 'Dribbling',
 'Curve',
 'Freekick Accuracy',
 'LongPassing',
 'BallControl',
 'Acceleration',
 'Sprint Speed',
 'Agility',
 'Reactions',
 'Balance',
 'Shot Power',
 'Jumping',
 'Stamina',
 'Strength',
 'Long Shots',
 'Aggression',
 'Interceptions',
 'Positioning',
 'Vision',
 'Penalties',
 'Composure',
 'Marking',
 'Standing Tackle',
 'Sliding Tackle',
 'Goalkeeper Diving',
 'Goalkeeper Handling',
 'GoalkeeperKicking',
 'Goalkeeper Positioning',
 'Goalkeeper Reflexes',
 'ST Rating',
 'LW Rating',
 'LF Rating',
 'CF Rating',
 'RF Rating',
 'RW Rating',
 'CAM Rating',
 'LM Rating',
 'CM Rating',
 'RM Rating',
 'LWB Rating',
 'CDM Rating',
 'RWB Rating',
 'LB Rating',
 'CB Rating',
 'RB Rating',
 'GK Rating']

Some players with no overhang have a "Best Position" that differs from their "Positions Played". We need to handle this case separately:

In [8]:
no_overhang = no_overhang[cols]
changed_pos = no_overhang[no_overhang['Positions Played'] != no_overhang['Best Position']].copy()
changed_pos['Positions Played (2)'] = changed_pos['Best Position']
changed_pos.head()

,Known As,Full Name,Overall,Potential,Value(in Euro),Positions Played,Positions Played (2),Positions Played (3),Positions Played (4),Best Position,...,LM Rating,CM Rating,RM Rating,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating
0,L. Messi,Lionel Messi,91,91,54000000,RW,CAM,NaN,NaN,CAM,...,91,88,91,67,66,67,62,53,62,22
38,T. Alexander-Arnold,Trent Alexander-Arnold,87,90,100500000,RB,CM,NaN,NaN,CM,...,86,88,86,87,87,87,86,81,86,22
86,T. Hernández,Theo Hernández,85,90,76000000,LB,LWB,NaN,NaN,LWB,...,84,81,84,86,82,86,85,82,85,20
108,W. Ben Yedder,Wissam Ben Yedder,84,84,35500000,ST,CF,NaN,NaN,CF,...,84,79,84,65,63,65,61,55,61,19
125,F. Chiesa,Federico Chiesa,84,90,66500000,LW,RM,NaN,NaN,RM,...,86,79,86,71,67,71,67,60,67,19

In [9]:
unchanged_pos = no_overhang[no_overhang['Positions Played'] == no_overhang['Best Position']].copy()
unchanged_pos.head()

,Known As,Full Name,Overall,Potential,Value(in Euro),Positions Played,Positions Played (2),Positions Played (3),Positions Played (4),Best Position,...,LM Rating,CM Rating,RM Rating,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating
2,R. Lewandowski,Robert Lewandowski,91,91,84000000,ST,NaN,NaN,NaN,ST,...,86,83,86,67,69,67,64,63,64,22
5,M. Salah,Mohamed Salah,90,90,115500000,RW,NaN,NaN,NaN,RW,...,90,85,90,74,71,74,70,61,70,25
6,T. Courtois,Thibaut Courtois,90,91,90000000,GK,NaN,NaN,NaN,GK,...,34,35,34,32,34,32,32,32,32,90
7,M. Neuer,Manuel Neuer,90,90,13500000,GK,NaN,NaN,NaN,GK,...,47,53,47,39,46,39,38,37,38,90
8,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,90,90,41000000,ST,NaN,NaN,NaN,ST,...,87,81,87,65,62,65,61,56,61,23

We put the two cases back together:

In [10]:
merged_no_overhang = pd.concat([changed_pos, unchanged_pos], ignore_index=True)
merged_no_overhang.shape

(9022, 92)

In [11]:
one_overhang.head()

,Known As,Full Name,Overall,Potential,Value(in Euro),Positions Played,Best Position,Nationality,Image Link,Age,...,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating,Positions Played (2),Positions Played (3),Positions Played (4)
1,K. Benzema,Karim Benzema,91,91,64000000,CF,ST,CF,France,https://cdn.sofifa.net/players/165/153/23_60.png,...,89,67,67,67,63,58,63,21.0,NaN,NaN
3,K. De Bruyne,Kevin De Bruyne,91,91,107500000,CM,CAM,CM,Belgium,https://cdn.sofifa.net/players/192/985/23_60.png,...,91,82,82,82,78,72,78,24.0,NaN,NaN
4,K. Mbappé,Kylian Mbappé,91,95,190500000,ST,LW,ST,France,https://cdn.sofifa.net/players/231/747/23_60.png,...,92,70,66,70,66,57,66,21.0,NaN,NaN
12,H. Son,Heung Min Son,89,89,101000000,LW,LM,LW,Korea Republic,https://cdn.sofifa.net/players/200/104/23_60.png,...,89,71,67,71,67,57,67,22.0,NaN,NaN
15,S. Mané,Sadio Mané,89,89,99500000,LM,CF,LM,Senegal,https://cdn.sofifa.net/players/208/722/23_60.png,...,89,71,68,71,68,62,68,22.0,NaN,NaN

In [12]:
# Rearrange columns
one_overhang_new = one_overhang[cols].copy()
one_overhang.columns = one_overhang_new.columns
one_overhang.head()

,Known As,Full Name,Overall,Potential,Value(in Euro),Positions Played,Positions Played (2),Positions Played (3),Positions Played (4),Best Position,...,LM Rating,CM Rating,RM Rating,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating
1,K. Benzema,Karim Benzema,91,91,64000000,CF,ST,CF,France,https://cdn.sofifa.net/players/165/153/23_60.png,...,89,67,67,67,63,58,63,21.0,NaN,NaN
3,K. De Bruyne,Kevin De Bruyne,91,91,107500000,CM,CAM,CM,Belgium,https://cdn.sofifa.net/players/192/985/23_60.png,...,91,82,82,82,78,72,78,24.0,NaN,NaN
4,K. Mbappé,Kylian Mbappé,91,95,190500000,ST,LW,ST,France,https://cdn.sofifa.net/players/231/747/23_60.png,...,92,70,66,70,66,57,66,21.0,NaN,NaN
12,H. Son,Heung Min Son,89,89,101000000,LW,LM,LW,Korea Republic,https://cdn.sofifa.net/players/200/104/23_60.png,...,89,71,67,71,67,57,67,22.0,NaN,NaN
15,S. Mané,Sadio Mané,89,89,99500000,LM,CF,LM,Senegal,https://cdn.sofifa.net/players/208/722/23_60.png,...,89,71,68,71,68,62,68,22.0,NaN,NaN

Now the same idea applies to the one overhang rows, this time we need to do a bit more column data rearranging:

In [13]:
last_two_cols = one_overhang.iloc[:, -2:]
cols_before = one_overhang.iloc[:, :cols.index('Positions Played (3)')]
cols_after = one_overhang.iloc[:, cols.index('Positions Played (4)')-1:-2]

new_df = pd.concat([cols_before, last_two_cols, cols_after], axis=1)
new_df.columns = cols
new_df.head()

,Known As,Full Name,Overall,Potential,Value(in Euro),Positions Played,Positions Played (2),Positions Played (3),Positions Played (4),Best Position,...,LM Rating,CM Rating,RM Rating,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating
1,K. Benzema,Karim Benzema,91,91,64000000,CF,ST,NaN,NaN,CF,...,89,84,89,67,67,67,63,58,63,21.0
3,K. De Bruyne,Kevin De Bruyne,91,91,107500000,CM,CAM,NaN,NaN,CM,...,91,91,91,82,82,82,78,72,78,24.0
4,K. Mbappé,Kylian Mbappé,91,95,190500000,ST,LW,NaN,NaN,ST,...,92,84,92,70,66,70,66,57,66,21.0
12,H. Son,Heung Min Son,89,89,101000000,LW,LM,NaN,NaN,LW,...,89,83,89,71,67,71,67,57,67,22.0
15,S. Mané,Sadio Mané,89,89,99500000,LM,CF,NaN,NaN,LM,...,89,82,89,71,68,71,68,62,68,22.0

In [14]:
two_pos = new_df[(new_df['Positions Played'] == new_df['Best Position']) | (new_df['Positions Played (2)'] == new_df['Best Position'])]
three_pos = new_df[(new_df['Positions Played'] != new_df['Best Position']) & (new_df['Positions Played (2)'] != new_df['Best Position'])]
three_pos.loc[:, 'Positions Played (3)'] = three_pos.loc[:, 'Best Position']
three_pos.head()

,Known As,Full Name,Overall,Potential,Value(in Euro),Positions Played,Positions Played (2),Positions Played (3),Positions Played (4),Best Position,...,LM Rating,CM Rating,RM Rating,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating
87,Diogo Jota,Diogo José Teixeira da Silva,85,89,76000000,CF,LW,ST,NaN,ST,...,84,80,84,72,71,72,70,68,70,21.0
132,L. Díaz,Luis Díaz,84,87,56000000,LW,LM,RM,NaN,RM,...,85,77,85,65,61,65,61,52,61,22.0
139,João Félix,João Félix Sequeira,84,90,68500000,CF,ST,CAM,NaN,CAM,...,85,81,85,67,65,67,63,56,63,23.0
149,W. Ndidi,Wilfred Ndidi,84,86,47500000,CDM,CM,CB,NaN,CB,...,72,78,72,81,84,81,81,85,81,22.0
155,O. Dembélé,Ousmane Dembélé,83,86,48000000,RW,LW,LM,NaN,LM,...,86,78,86,67,62,67,62,50,62,20.0

In [15]:
merged_one_overhang = pd.concat([two_pos, three_pos], ignore_index=True)
merged_one_overhang

,Known As,Full Name,Overall,Potential,Value(in Euro),Positions Played,Positions Played (2),Positions Played (3),Positions Played (4),Best Position,...,LM Rating,CM Rating,RM Rating,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating
0,K. Benzema,Karim Benzema,91,91,64000000,CF,ST,NaN,NaN,CF,...,89,84,89,67,67,67,63,58,63,21.0
1,K. De Bruyne,Kevin De Bruyne,91,91,107500000,CM,CAM,NaN,NaN,CM,...,91,91,91,82,82,82,78,72,78,24.0
2,K. Mbappé,Kylian Mbappé,91,95,190500000,ST,LW,NaN,NaN,ST,...,92,84,92,70,66,70,66,57,66,21.0
3,H. Son,Heung Min Son,89,89,101000000,LW,LM,NaN,NaN,LW,...,89,83,89,71,67,71,67,57,67,22.0
4,S. Mané,Sadio Mané,89,89,99500000,LM,CF,NaN,NaN,LM,...,89,82,89,71,68,71,68,62,68,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6706,N. Bhutia,Namgyal Bhutia,48,55,90000,RB,RW,RM,NaN,RM,...,50,44,50,48,43,48,48,42,48,15.0
6707,S. Fernandes,Sweden Fernandes,48,57,110000,RW,LW,LM,NaN,LM,...,49,42,49,39,35,39,37,32,37,15.0
6708,Chen Keqiang,Keqiang Chen,48,54,70000,CM,ST,CDM,NaN,CDM,...,49,50,49,51,52,51,52,52,52,19.0
6709,Liao Wei,Wei Liao,48,54,70000,RM,LM,CDM,NaN,CDM,...,49,51,49,50,52,50,50,51,50,16.0
6710,D. Collins,Darren Collins,47,56,110000,ST,RM,CAM,NaN,CAM,...,50,44,50,41,38,41,40,36,40,15.0

In [16]:
two_overhang.head()

,Known As,Full Name,Overall,Potential,Value(in Euro),Positions Played,Best Position,Nationality,Image Link,Age,...,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating,Positions Played (2),Positions Played (3),Positions Played (4)
61,C. Nkunku,Christopher Nkunku,86,89,94000000,CF,CAM,ST,CAM,France,...,86,89,80,77,80,77,70,77.0,20.0,NaN
74,P. Pogba,Paul Pogba,85,85,52500000,CM,CDM,LM,CM,France,...,85,83,74,78,74,72,73,72.0,15.0,NaN
75,M. Depay,Memphis Depay,85,85,55000000,CF,ST,LW,CF,Netherlands,...,80,85,64,62,64,59,52,59.0,22.0,NaN
83,P. Foden,Phil Foden,85,92,109500000,LW,CF,CAM,CAM,England,...,85,87,75,74,75,72,62,72.0,22.0,NaN
90,M. Reus,Marco Reus,85,85,33500000,CAM,CF,RM,CAM,Germany,...,83,85,74,72,74,70,62,70.0,23.0,NaN

In [17]:
two_overhang_new = two_overhang[cols].copy()
two_overhang.columns = two_overhang_new.columns
two_overhang.head()

,Known As,Full Name,Overall,Potential,Value(in Euro),Positions Played,Positions Played (2),Positions Played (3),Positions Played (4),Best Position,...,LM Rating,CM Rating,RM Rating,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating
61,C. Nkunku,Christopher Nkunku,86,89,94000000,CF,CAM,ST,CAM,France,...,86,89,80,77,80,77,70,77.0,20.0,NaN
74,P. Pogba,Paul Pogba,85,85,52500000,CM,CDM,LM,CM,France,...,85,83,74,78,74,72,73,72.0,15.0,NaN
75,M. Depay,Memphis Depay,85,85,55000000,CF,ST,LW,CF,Netherlands,...,80,85,64,62,64,59,52,59.0,22.0,NaN
83,P. Foden,Phil Foden,85,92,109500000,LW,CF,CAM,CAM,England,...,85,87,75,74,75,72,62,72.0,22.0,NaN
90,M. Reus,Marco Reus,85,85,33500000,CAM,CF,RM,CAM,Germany,...,83,85,74,72,74,70,62,70.0,23.0,NaN

In [18]:
last_col = two_overhang.iloc[:, -1:]
cols_before = two_overhang.iloc[:, :cols.index('Positions Played (4)')]
cols_after = two_overhang.iloc[:, cols.index('Positions Played (4)'):-1]

new_df = pd.concat([cols_before, last_col, cols_after], axis=1)
new_df.columns = cols
new_df.head()

,Known As,Full Name,Overall,Potential,Value(in Euro),Positions Played,Positions Played (2),Positions Played (3),Positions Played (4),Best Position,...,LM Rating,CM Rating,RM Rating,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating
61,C. Nkunku,Christopher Nkunku,86,89,94000000,CF,CAM,ST,NaN,CAM,...,89,86,89,80,77,80,77,70,77.0,20.0
74,P. Pogba,Paul Pogba,85,85,52500000,CM,CDM,LM,NaN,CM,...,83,85,83,74,78,74,72,73,72.0,15.0
75,M. Depay,Memphis Depay,85,85,55000000,CF,ST,LW,NaN,CF,...,85,80,85,64,62,64,59,52,59.0,22.0
83,P. Foden,Phil Foden,85,92,109500000,LW,CF,CAM,NaN,CAM,...,87,85,87,75,74,75,72,62,72.0,22.0
90,M. Reus,Marco Reus,85,85,33500000,CAM,CF,RM,NaN,CAM,...,85,83,85,74,72,74,70,62,70.0,23.0

In [19]:
three_pos = new_df[(new_df['Positions Played'] == new_df['Best Position']) | (new_df['Positions Played (2)'] == new_df['Best Position']) | (new_df['Positions Played (3)'] == new_df['Best Position'])]
four_pos = new_df[(new_df['Positions Played'] != new_df['Best Position']) & (new_df['Positions Played (2)'] != new_df['Best Position']) & (new_df['Positions Played (3)'] != new_df['Best Position'])]
four_pos.loc[:, 'Positions Played (4)'] = four_pos.loc[:, 'Best Position']
four_pos.head()

,Known As,Full Name,Overall,Potential,Value(in Euro),Positions Played,Positions Played (2),Positions Played (3),Positions Played (4),Best Position,...,LM Rating,CM Rating,RM Rating,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating
109,L. Insigne,Lorenzo Insigne,84,84,35000000,LW,CF,LM,CAM,CAM,...,84,81,84,64,61,64,60,47,60.0,19.0
144,J. Sancho,Jadon Sancho,84,88,61500000,LW,RW,LM,CAM,CAM,...,86,80,86,67,63,67,61,50,61.0,21.0
150,Marcos Llorente,Marcos Llorente Moreno,84,85,48000000,CM,RM,RB,CAM,CAM,...,85,85,85,85,85,85,84,81,84.0,22.0
179,T. Lemar,Thomas Lemar,83,86,47000000,CM,LM,RM,CAM,CAM,...,86,86,86,81,79,81,79,72,79.0,23.0
191,A. Griezmann,Antoine Griezmann,83,83,30500000,ST,CF,RW,CAM,CAM,...,83,83,83,73,71,73,71,65,71.0,23.0

In [20]:
merged_two_overhang = pd.concat([three_pos, four_pos], ignore_index=True)
merged_two_overhang

,Known As,Full Name,Overall,Potential,Value(in Euro),Positions Played,Positions Played (2),Positions Played (3),Positions Played (4),Best Position,...,LM Rating,CM Rating,RM Rating,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating
0,C. Nkunku,Christopher Nkunku,86,89,94000000,CF,CAM,ST,NaN,CAM,...,89,86,89,80,77,80,77,70,77.0,20.0
1,P. Pogba,Paul Pogba,85,85,52500000,CM,CDM,LM,NaN,CM,...,83,85,83,74,78,74,72,73,72.0,15.0
2,M. Depay,Memphis Depay,85,85,55000000,CF,ST,LW,NaN,CF,...,85,80,85,64,62,64,59,52,59.0,22.0
3,P. Foden,Phil Foden,85,92,109500000,LW,CF,CAM,NaN,CAM,...,87,85,87,75,74,75,72,62,72.0,22.0
4,M. Reus,Marco Reus,85,85,33500000,CAM,CF,RM,NaN,CAM,...,85,83,85,74,72,74,70,62,70.0,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2801,C. Humphreys,Cameron Humphreys,53,68,220000,CM,CAM,LWB,LM,LM,...,56,55,56,56,55,56,55,54,55.0,16.0
2802,Kang Jae Woo,Jae Woo Kang,52,63,180000,ST,LM,CM,CAM,CAM,...,54,53,54,53,53,53,53,53,53.0,19.0
2803,A. Breuer,Andy Breuer,52,74,250000,CM,CF,CDM,CAM,CAM,...,56,54,56,50,50,50,50,47,50.0,18.0
2804,L. Hnamte,Lalrinliana Hnamte,51,63,140000,LW,CM,RW,RM,RM,...,54,52,54,54,54,54,54,52,54.0,17.0
2805,L. Augustine,Leon Augustine,50,58,100000,RW,LW,CM,RM,RM,...,53,46,53,45,40,45,43,36,43.0,16.0

Finally, we concatenate all the three cases back together and save the processed data to a new csv file.

We can also check the amount of rows in the dataframe to make sure that nothing went missing:

In [21]:
df = pd.concat([merged_no_overhang, merged_one_overhang, merged_two_overhang], ignore_index=True)
df.to_csv('data/processed.csv')
df.shape

(18539, 92)

Some columns still contain NaN values, however none of these have a sensible "default" value we could use instead of NaN so we'll just keep them that way:

In [22]:
df.columns[df.isna().any()]

Index(['Positions Played (2)', 'Positions Played (3)', 'Positions Played (4)',
       'Nationality', 'Height(in cm)', 'Weight(in kg)',
       'International Reputation', 'Positioning', 'Goalkeeper Handling'],
      dtype='object')