In [193]:
import csv

file_path = 'data/Aufgabe-1.csv'

# Retrieve the header names
with open(file_path, encoding='utf-8-sig') as f:
    csv_reader = csv.reader(f)
    csv_headings = next(csv_reader)

# Prevent double quotes and extra whitespace
columns = [ch.replace("'", "").strip() for ch in csv_headings]
extra_columns = ['Positions Played (2)', 'Positions Played (3)', 'Positions Played (4)']
columns

['Known As',
 'Full Name',
 'Overall',
 'Potential',
 'Value(in Euro)',
 'Positions Played',
 'Best Position',
 'Nationality',
 'Image Link',
 'Age',
 'Height(in cm)',
 'Weight(in kg)',
 'TotalStats',
 'BaseStats',
 'Club Name',
 'Wage(in Euro)',
 'Release Clause',
 'Club Position',
 'Contract Until',
 'Club Jersey Number',
 'Joined On',
 'On Loan',
 'Preferred Foot',
 'Weak Foot Rating',
 'Skill Moves',
 'International Reputation',
 'National Team Name',
 'National Team Image Link',
 'National Team Position',
 'National Team Jersey Number',
 'Attacking Work Rate',
 'Defensive Work Rate',
 'Pace Total',
 'Shooting Total',
 'Passing Total',
 'Dribbling Total',
 'Defending Total',
 'Physicality Total',
 'Crossing',
 'Finishing',
 'Heading Accuracy',
 'Short Passing',
 'Volleys',
 'Dribbling',
 'Curve',
 'Freekick Accuracy',
 'LongPassing',
 'BallControl',
 'Acceleration',
 'Sprint Speed',
 'Agility',
 'Reactions',
 'Balance',
 'Shot Power',
 'Jumping',
 'Stamina',
 'Strength',
 'Long Shots',
 'Aggression',
 'Interceptions',
 'Positioning',
 'Vision',
 'Penalties',
 'Composure',
 'Marking',
 'Standing Tackle',
 'Sliding Tackle',
 'Goalkeeper Diving',
 'Goalkeeper Handling',
 'GoalkeeperKicking',
 'Goalkeeper Positioning',
 'Goalkeeper Reflexes',
 'ST Rating',
 'LW Rating',
 'LF Rating',
 'CF Rating',
 'RF Rating',
 'RW Rating',
 'CAM Rating',
 'LM Rating',
 'CM Rating',
 'RM Rating',
 'LWB Rating',
 'CDM Rating',
 'RWB Rating',
 'LB Rating',
 'CB Rating',
 'RB Rating',
 'GK Rating']

In [194]:
import pandas as pd

delimiter = ','
df = pd.read_csv(file_path, header=None, skiprows=1, names=columns+extra_columns)

/tmp/ipykernel_3730/2239515412.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, header=None, skiprows=1, names=columns+extra_columns)

In [195]:
df.head()

,Known As,Full Name,Overall,Potential,Value(in Euro),Positions Played,Best Position,Nationality,Image Link,Age,...,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating,Positions Played (2),Positions Played (3),Positions Played (4)
0,'L. Messi','Lionel Messi',91,91,54000000,'RW','CAM','Argentina','https://cdn.sofifa.net/players/158/023/23_60....,35,...,67,66,67,62,53,62,22,NaN,NaN,NaN
1,'K. Benzema','Karim Benzema',91,91,64000000,'CF,ST','CF','France','https://cdn.sofifa.net/players/165/153/23_60....,...,89,67,67,67,63,58,63,21.0,NaN,NaN
2,'R. Lewandowski','Robert Lewandowski',91,91,84000000,'ST','ST','Poland','https://cdn.sofifa.net/players/188/545/23_60....,33,...,67,69,67,64,63,64,22,NaN,NaN,NaN
3,'K. De Bruyne','Kevin De Bruyne',91,91,107500000,'CM,CAM','CM','Belgium','https://cdn.sofifa.net/players/192/985/23_60....,...,91,82,82,82,78,72,78,24.0,NaN,NaN
4,'K. Mbappé','Kylian Mbappé',91,95,190500000,'ST,LW','ST','France','https://cdn.sofifa.net/players/231/747/23_60....,...,92,70,66,70,66,57,66,21.0,NaN,NaN

In [196]:
df = df.applymap(lambda x: x.replace("'", "") if isinstance(x, str) else x)
df.head()

,Known As,Full Name,Overall,Potential,Value(in Euro),Positions Played,Best Position,Nationality,Image Link,Age,...,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating,Positions Played (2),Positions Played (3),Positions Played (4)
0,L. Messi,Lionel Messi,91,91,54000000,RW,CAM,Argentina,https://cdn.sofifa.net/players/158/023/23_60.png,35,...,67,66,67,62,53,62,22,NaN,NaN,NaN
1,K. Benzema,Karim Benzema,91,91,64000000,CF,ST,CF,France,https://cdn.sofifa.net/players/165/153/23_60.png,...,89,67,67,67,63,58,63,21.0,NaN,NaN
2,R. Lewandowski,Robert Lewandowski,91,91,84000000,ST,ST,Poland,https://cdn.sofifa.net/players/188/545/23_60.png,33,...,67,69,67,64,63,64,22,NaN,NaN,NaN
3,K. De Bruyne,Kevin De Bruyne,91,91,107500000,CM,CAM,CM,Belgium,https://cdn.sofifa.net/players/192/985/23_60.png,...,91,82,82,82,78,72,78,24.0,NaN,NaN
4,K. Mbappé,Kylian Mbappé,91,95,190500000,ST,LW,ST,France,https://cdn.sofifa.net/players/231/747/23_60.png,...,92,70,66,70,66,57,66,21.0,NaN,NaN

In [205]:
no_overhang = df.iloc[df[(df.isnull().sum(axis=1) == 3)].index]
one_overhang = df.iloc[df[(df.isnull().sum(axis=1) == 2)].index]
two_overhang = df.iloc[df[(df.isnull().sum(axis=1) <= 1)].index]
no_overhang.columns

Index(['Known As', 'Full Name', 'Overall', 'Potential', 'Value(in Euro)',
       'Positions Played', 'Best Position', 'Nationality', 'Image Link', 'Age',
       'Height(in cm)', 'Weight(in kg)', 'TotalStats', 'BaseStats',
       'Club Name', 'Wage(in Euro)', 'Release Clause', 'Club Position',
       'Contract Until', 'Club Jersey Number', 'Joined On', 'On Loan',
       'Preferred Foot', 'Weak Foot Rating', 'Skill Moves',
       'International Reputation', 'National Team Name',
       'National Team Image Link', 'National Team Position',
       'National Team Jersey Number', 'Attacking Work Rate',
       'Defensive Work Rate', 'Pace Total', 'Shooting Total', 'Passing Total',
       'Dribbling Total', 'Defending Total', 'Physicality Total', 'Crossing',
       'Finishing', 'Heading Accuracy', 'Short Passing', 'Volleys',
       'Dribbling', 'Curve', 'Freekick Accuracy', 'LongPassing', 'BallControl',
       'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance',
       'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots',
       'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties',
       'Composure', 'Marking', 'Standing Tackle', 'Sliding Tackle',
       'Goalkeeper Diving', 'Goalkeeper Handling', 'GoalkeeperKicking',
       'Goalkeeper Positioning', 'Goalkeeper Reflexes', 'ST Rating',
       'LW Rating', 'LF Rating', 'CF Rating', 'RF Rating', 'RW Rating',
       'CAM Rating', 'LM Rating', 'CM Rating', 'RM Rating', 'LWB Rating',
       'CDM Rating', 'RWB Rating', 'LB Rating', 'CB Rating', 'RB Rating',
       'GK Rating', 'Positions Played (2)', 'Positions Played (3)',
       'Positions Played (4)'],
      dtype='object')

In [214]:
cols = no_overhang.columns.tolist()
cols

['Known As',
 'Full Name',
 'Overall',
 'Potential',
 'Value(in Euro)',
 'Positions Played',
 'Best Position',
 'Nationality',
 'Image Link',
 'Age',
 'Height(in cm)',
 'Weight(in kg)',
 'TotalStats',
 'BaseStats',
 'Club Name',
 'Wage(in Euro)',
 'Release Clause',
 'Club Position',
 'Contract Until',
 'Club Jersey Number',
 'Joined On',
 'On Loan',
 'Preferred Foot',
 'Weak Foot Rating',
 'Skill Moves',
 'International Reputation',
 'National Team Name',
 'National Team Image Link',
 'National Team Position',
 'National Team Jersey Number',
 'Attacking Work Rate',
 'Defensive Work Rate',
 'Pace Total',
 'Shooting Total',
 'Passing Total',
 'Dribbling Total',
 'Defending Total',
 'Physicality Total',
 'Crossing',
 'Finishing',
 'Heading Accuracy',
 'Short Passing',
 'Volleys',
 'Dribbling',
 'Curve',
 'Freekick Accuracy',
 'LongPassing',
 'BallControl',
 'Acceleration',
 'Sprint Speed',
 'Agility',
 'Reactions',
 'Balance',
 'Shot Power',
 'Jumping',
 'Stamina',
 'Strength',
 'Long Shots',
 'Aggression',
 'Interceptions',
 'Positioning',
 'Vision',
 'Penalties',
 'Composure',
 'Marking',
 'Standing Tackle',
 'Sliding Tackle',
 'Goalkeeper Diving',
 'Goalkeeper Handling',
 'GoalkeeperKicking',
 'Goalkeeper Positioning',
 'Goalkeeper Reflexes',
 'ST Rating',
 'LW Rating',
 'LF Rating',
 'CF Rating',
 'RF Rating',
 'RW Rating',
 'CAM Rating',
 'LM Rating',
 'CM Rating',
 'RM Rating',
 'LWB Rating',
 'CDM Rating',
 'RWB Rating',
 'LB Rating',
 'CB Rating',
 'RB Rating',
 'GK Rating',
 'Positions Played (2)',
 'Positions Played (3)',
 'Positions Played (4)']

In [215]:
cols = cols[:cols.index('Positions Played')+1] + cols[-3:] + cols[cols.index('Positions Played') + 1:-3]
cols

['Known As',
 'Full Name',
 'Overall',
 'Potential',
 'Value(in Euro)',
 'Positions Played',
 'Positions Played (2)',
 'Positions Played (3)',
 'Positions Played (4)',
 'Best Position',
 'Nationality',
 'Image Link',
 'Age',
 'Height(in cm)',
 'Weight(in kg)',
 'TotalStats',
 'BaseStats',
 'Club Name',
 'Wage(in Euro)',
 'Release Clause',
 'Club Position',
 'Contract Until',
 'Club Jersey Number',
 'Joined On',
 'On Loan',
 'Preferred Foot',
 'Weak Foot Rating',
 'Skill Moves',
 'International Reputation',
 'National Team Name',
 'National Team Image Link',
 'National Team Position',
 'National Team Jersey Number',
 'Attacking Work Rate',
 'Defensive Work Rate',
 'Pace Total',
 'Shooting Total',
 'Passing Total',
 'Dribbling Total',
 'Defending Total',
 'Physicality Total',
 'Crossing',
 'Finishing',
 'Heading Accuracy',
 'Short Passing',
 'Volleys',
 'Dribbling',
 'Curve',
 'Freekick Accuracy',
 'LongPassing',
 'BallControl',
 'Acceleration',
 'Sprint Speed',
 'Agility',
 'Reactions',
 'Balance',
 'Shot Power',
 'Jumping',
 'Stamina',
 'Strength',
 'Long Shots',
 'Aggression',
 'Interceptions',
 'Positioning',
 'Vision',
 'Penalties',
 'Composure',
 'Marking',
 'Standing Tackle',
 'Sliding Tackle',
 'Goalkeeper Diving',
 'Goalkeeper Handling',
 'GoalkeeperKicking',
 'Goalkeeper Positioning',
 'Goalkeeper Reflexes',
 'ST Rating',
 'LW Rating',
 'LF Rating',
 'CF Rating',
 'RF Rating',
 'RW Rating',
 'CAM Rating',
 'LM Rating',
 'CM Rating',
 'RM Rating',
 'LWB Rating',
 'CDM Rating',
 'RWB Rating',
 'LB Rating',
 'CB Rating',
 'RB Rating',
 'GK Rating']

In [216]:
no_overhang = no_overhang[cols]
changed_pos = no_overhang[no_overhang['Positions Played'] != no_overhang['Best Position']].copy()
changed_pos['Positions Played (2)'] = changed_pos['Best Position']
changed_pos.head()

,Known As,Full Name,Overall,Potential,Value(in Euro),Positions Played,Positions Played (2),Positions Played (3),Positions Played (4),Best Position,...,LM Rating,CM Rating,RM Rating,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating
0,L. Messi,Lionel Messi,91,91,54000000,RW,CAM,NaN,NaN,CAM,...,91,88,91,67,66,67,62,53,62,22
38,T. Alexander-Arnold,Trent Alexander-Arnold,87,90,100500000,RB,CM,NaN,NaN,CM,...,86,88,86,87,87,87,86,81,86,22
86,T. Hernández,Theo Hernández,85,90,76000000,LB,LWB,NaN,NaN,LWB,...,84,81,84,86,82,86,85,82,85,20
108,W. Ben Yedder,Wissam Ben Yedder,84,84,35500000,ST,CF,NaN,NaN,CF,...,84,79,84,65,63,65,61,55,61,19
125,F. Chiesa,Federico Chiesa,84,90,66500000,LW,RM,NaN,NaN,RM,...,86,79,86,71,67,71,67,60,67,19

In [217]:
unchanged_pos = no_overhang[no_overhang['Positions Played'] == no_overhang['Best Position']].copy()
unchanged_pos.head()

,Known As,Full Name,Overall,Potential,Value(in Euro),Positions Played,Positions Played (2),Positions Played (3),Positions Played (4),Best Position,...,LM Rating,CM Rating,RM Rating,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating
2,R. Lewandowski,Robert Lewandowski,91,91,84000000,ST,NaN,NaN,NaN,ST,...,86,83,86,67,69,67,64,63,64,22
5,M. Salah,Mohamed Salah,90,90,115500000,RW,NaN,NaN,NaN,RW,...,90,85,90,74,71,74,70,61,70,25
6,T. Courtois,Thibaut Courtois,90,91,90000000,GK,NaN,NaN,NaN,GK,...,34,35,34,32,34,32,32,32,32,90
7,M. Neuer,Manuel Neuer,90,90,13500000,GK,NaN,NaN,NaN,GK,...,47,53,47,39,46,39,38,37,38,90
8,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,90,90,41000000,ST,NaN,NaN,NaN,ST,...,87,81,87,65,62,65,61,56,61,23

In [172]:
merged = pd.concat([changed_pos, unchanged_pos], ignore_index=True)
merged.shape

(9022, 91)

In [192]:
three_pos

,Known As,Full Name,Overall,Potential,Value(in Euro),Positions Played,Best Position,Nationality,Image Link,Age,...,RM Rating,LWB Rating,CDM Rating,RWB Rating,LB Rating,CB Rating,RB Rating,GK Rating,Positions Played (2),Positions Played (3)
61,C. Nkunku,Christopher Nkunku,86,89,94000000,CF,CAM,ST,CAM,France,...,89,86,89,80,77,80,77,70,77.0,20.0
74,P. Pogba,Paul Pogba,85,85,52500000,CM,CDM,LM,CM,France,...,83,85,83,74,78,74,72,73,72.0,15.0
75,M. Depay,Memphis Depay,85,85,55000000,CF,ST,LW,CF,Netherlands,...,85,80,85,64,62,64,59,52,59.0,22.0
83,P. Foden,Phil Foden,85,92,109500000,LW,CF,CAM,CAM,England,...,87,85,87,75,74,75,72,62,72.0,22.0
90,M. Reus,Marco Reus,85,85,33500000,CAM,CF,RM,CAM,Germany,...,85,83,85,74,72,74,70,62,70.0,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18321,Cui Lin,Lin Cui,51,55,80000,RB,LB,RM,RB,China PR,...,45,40,45,50,46,50,51,51,51.0,17.0
18322,Song Yue,Yue Song,51,51,50000,CB,CM,CDM,CB,China PR,...,51,50,51,51,51,51,51,51,51.0,13.0
18437,L. Augustine,Leon Augustine,50,58,100000,RW,LW,CM,RM,India,...,53,46,53,45,40,45,43,36,43.0,16.0
18451,O. Cisneros,Osvaldo Cisneros,49,72,150000,CAM,CM,ST,CAM,United States,...,50,47,50,46,45,46,46,43,46.0,15.0
18514,G. Nigam,Gani Nigam,48,54,70000,LM,RM,ST,RM,India,...,49,44,49,41,37,41,39,33,39.0,14.0